# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# macOS files
.DS_Store

# IDE config directories
.idea/
.vscode/

# Node modules
node_modules/
bun.lockb

# Temp directories
docs/.vitepress/cache/
docs/.vitepress/dist/